# flagfile for the roq-deribit gateway
# exchange servers are located in LD4, Equinix, Slough, UK

--fix_uri=tcp://fix.deribit.com:9881
--ws_uri=wss://www.deribit.com/ws/api/v2
--rest_uri=https://www.deribit.com
